html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul{list-style: none;}
a {text-decoration: none; color: #000;}
i{font-style: normal;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


html,body {position: relative;height: 100%;}
body{font-family: 'Noto Sans KR', sans-serif; font-size:12px; line-height: 1.2; letter-spacing: -0.5px; width: 100%; min-width: 350px;}
/**swiper_reset**/
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}

/**btn_eff_*/
.btn01 {display: inline-block;
min-width: 175px;
padding: 19px 0;
position: relative;font-size: 12px;font-weight: 600;line-height: 1;text-align: center;
border: 2px solid transparent;
border-radius: 5px;background: transparent;
-webkit-transition: color 300ms, background 300ms, border 300ms;
transition: color 300ms, background 300ms, border 300ms;}
.btn01 span {position: relative;letter-spacing:0.5px;font-size:14px;font-weight: 500;}
/* border style */
.btn01_primary {color: #222;border-color: #ccc;}
.btn01_primary:hover {color: #fff;background: #c0c79c;border-color: #c0c79c;}
/* underline style */
.btn_base {min-width: 140px;padding: 17px 0;border: none;}
.btn_base:before, .btn_base:after {content: '';display: block;height: 2px;position: absolute;bottom: 0;z-index: 2;-webkit-transition: width 400ms;transition: width 400ms;-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);}
.btn_base:before {width: 100%;right: 0;-webkit-transition-delay: 200ms;transition-delay: 200ms;}
.btn_base:after {width: 0;left: 0;-webkit-transition-delay: 0ms;transition-delay: 0ms;}
.btn_base:hover:before {width: 0;-webkit-transition-delay: 0ms;transition-delay: 0ms;}
.btn_base:hover:after {width: 100%;-webkit-transition-delay: 200ms;transition-delay: 200ms;}
.btn_base:hover span{color: #fff;}
.btn_ef01 {color: #fff;}
.btn_ef01:before {background: #fff;}
.btn_ef01:after {background: #3c5ef3;}

.header h1{position: fixed;top: 20px;right:20px;z-index: 2;color: #fff;font-size:16px;font-weight: 600;}
.header h1 a{color: #fff; display: inline-block; text-align: center;}
.header h1 a span {font-size:26px;}
.menu_btn{position: fixed;top: 30px;left: 50px;z-index: 2;cursor: pointer;}
.menu_btn span{background: #fff;display: block;width: 40px;height: 3px;margin:5px 0;}
.menu_btn span:nth-child(2){width: 20px;float: right;
-webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;position: relative;
}
.menu_btn span:nth-child(2):after{content:"MENU";display: block;position: absolute;bottom: -10px;right: 0;color: #fff;opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu_btn:hover span{width: 40px;}
.menu_btn:hover span:nth-child(2):after{opacity: 1;bottom: -20px;}
.menu_btn.open span:first-child{display: block; position: absolute; height: 3px; width: 100%; background: #fff; opacity: 1; transform: rotate(135deg);top: 20px;left: 0; z-index: 2;
-webkit-transition: all .3s ease-in-out;
-moz-transition:    all .3s ease-in-out;
-o-transition:      all .3s ease-in-out;
-ms-transition:     all .3s ease-in-out;
transition:         all .3s ease-in-out;
}
.menu_btn.open span:last-child{display: block; position: absolute; height: 3px; width: 100%; background: #fff; opacity: 1; transform: rotate(-135deg);top: 20px;left: 0px; z-index: 2;
-webkit-transition: all .3s ease-in-out;
-moz-transition:    all .3s ease-in-out;
-o-transition:      all .3s ease-in-out;
-ms-transition:     all .3s ease-in-out;
transition:         all .3s ease-in-out;
}
.menu_btn.open span:last-child:after{opacity: 0;}
.menu_btn.open{z-index:3; width: 50px; height: 50px; left: 50%;
  margin-left: -25px;
    transition: .25s ease-in-out;}
.menu_bg{    position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background: rgba(0,0,0,0.9);
z-index:2;}
.menu_bg_inner{width: 100%; height: 100%; position: relative;}
.menu_bg .gnb{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -345.32px;
  margin-top: -38px;}
.menu_bg .gnb	ul{overflow: hidden;}
.menu_bg .gnb	li{display: inline-block;
padding-right: 40px; margin: 20px 0;}

.menu_bg .gnb li:last-child{padding-right: 0;}
.menu_bg .gnb	li a{font-size:30px; color: #fff;     letter-spacing: normal;}
.menu_bg .gnb .no_active a{color: #808488;}
.menu_bg .gnb .active a{color: #fff}


/**section_bg*/
.swiper-container{background: #070809;}
.section01{background: #070809;}
.section02{background: #001f36;}
.section03{background: #393635;}
.section04{background: #393635;}
.swiper-slide{overflow: hidden;}
.swiper-slide .bg{-webkit-transform: scale(1.1) rotate(1deg);
-moz-transform: scale(1.1) rotate(2deg);
-ms-transform: scale(1.1) rotate(2deg);
-o-transform: scale(1.1) rotate(2deg);
transform: scale(1.1) rotate(2deg);
 -webkit-transition: all 1s ease 0.1s;
  -moz-transition: all 1s ease 0.1s;
  -o-transition: all 1s ease 0.1s;
  -ms-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
opacity: 0;
}
.section01 .bg{background:url(../img/main_bg_01.jpg) no-repeat;background-position: center;background-size:cover;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.section02 .bg{background:url(../img/main_bg_02.jpg) no-repeat;background-position: center;background-size:cover;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.section03 .bg{background:url(../img/main_bg_03.jpg) no-repeat;background-position: center;background-size:cover;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.section04 .bg{background:url(../img/main_bg_04.jpg) no-repeat;background-position: center;background-size:cover;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/**active_eff*/
.swiper-slide.swiper-slide-active .bg{
  -webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  opacity: 1;
}



/**common_con*/

.main_intro{position: absolute; top: 15vh;left: 5%;z-index: 9;color: #fff; text-align: right;}
.main_intro .txt01{font-size:18px;display: inline-block;transform: translate3d(-29px, 10px, 10px);
-webkit-transition: all 0.4s ease-in-out; 0.1s;
-moz-transition: all 0.4s ease-in-out; 0.1s;
-o-transition: all 0.4s ease-in-out; 0.1s;
-ms-transition: all 0.4s ease-in-out; 0.1s;
transition: all 0.4s ease-in-out; 0.1s;
 }
.main_intro .txt01 span{font-weight: 800;transform: translate3d(-29px, 32px, 10px);}
.main_intro .txt02{transform: translate3d(-29px, 32px, 10px);
-webkit-transition: all 0.8s ease-in-out; 0.1s;
-moz-transition: all 0.8s ease-in-out; 0.1s;
-o-transition: all 0.8s ease-in-out; 0.1s;
-ms-transition: all 0.8s ease-in-out; 0.1s;
transition: all 0.8s ease-in-out; 0.1s;
}
.main_intro .txt02 strong {font-size:50px;display: block;line-height: 1.6;font-weight: 700;padding: 30px 0 30px;
-webkit-transition: all 2s ease-in-out .5s;
  -moz-transition: all 2s ease-in-out .5s
  -o-transition: all 2s ease-in-out .5s;
  -ms-transition: all 2s ease-in-out .5s
  transition: all 2s ease-in-out .5s
  }
.main_intro p{font-size:18px;line-height: 1.7;color: #fff;font-weight: 300;padding-bottom: 20px;transform: translate3d(-29px, 32px, 10px);
-webkit-transition: all 1s ease-in-out; 0.1s;
-moz-transition: all 1s ease-in-out; 0.1s;
-o-transition: all 1s ease-in-out; 0.1s;
-ms-transition: all 1s ease-in-out; 0.1s;
transition: all 1s ease-in-out; 0.1s;
}
.btn_wrap{transform: translate3d(-29px, 32px, 10px);
-webkit-transition: all 1.2s ease-in-out; 0.1s;
-moz-transition: all 1.2s ease-in-out; 0.1s;
-o-transition: all 1.2s ease-in-out; 0.1s;
-ms-transition: all 1.2s ease-in-out; 0.1s;
transition: all 1.2s ease-in-out; 0.1s;
}
.bg_opac {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 2;opacity: 0;
  background-image: radial-gradient(circle at top left, rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0.9) 100%);
  -webkit-transition: all 2s ease 0.1s;
  -moz-transition: all 2s ease 0.1s;
  -o-transition: all 2s ease 0.1s;
  -ms-transition: all 2s ease 0.1s;
  transition: all 2s ease 0.1s;
}
.swiper-pagination-fraction{z-index: 9;left: 0;width: 100%;color: #fff; text-align: center; bottom:20px;}
.prev_btn{position: relative;letter-spacing: 1px;}
.prev_btn:before{content:"";display: block;width: 0;height: 1px;position: absolute;bottom: -5px;left: 0;background: #fff;
webkit-transition: all .5s ease 0.1s;
-moz-transition: all .5s ease 0.1s;
-o-transition: all .5s ease 0.1s;
-ms-transition: all .5s ease 0.1s;
transition: all .5s ease 0.1s;
}
.prev_btn:hover:before{width: 100%;}
.next_btn{position: relative;letter-spacing: 1px;}
.next_btn:before{content:"";display: block;width: 0;height: 1px;position: absolute;bottom: -5px;right: 0;background: #fff;
webkit-transition: all .5s ease 0.1s;
-moz-transition: all .5s ease 0.1s;
-o-transition: all .5s ease 0.1s;
-ms-transition: all .5s ease 0.1s;
transition: all .5s ease 0.1s;
}
.next_btn:hover:before{width: 100%;}



/*active_AFTER*/
.swiper-slide.swiper-slide-active .main_intro .txt01{ transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro .txt02{transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro p{transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .main_intro .btn_wrap{transform: translate3d(10px, 10px, 10px);}
.swiper-slide.swiper-slide-active .bg_opac{opacity: 1;}

/**section01**/

/**section02**/
.section02 .main_intro strong{font-size:60px;display: block;line-height: 1.4;}
.section02.swiper-slide-active .main_intro strong{letter-spacing: 20px;}
.section02 .btn_ef01:after{background:#0177bd;}
/**section03**/
.section03 .main_intro strong{font-family: 'Josefin Sans', sans-serif;font-size:60px;display: block;line-height: 1.4;}
.section03.swiper-slide-active .main_intro strong{letter-spacing: 20px;}
.section03 .btn_ef01:after{background:#363432;}
/**section04**/
.section04 .main_intro strong{font-family: 'Josefin Sans', sans-serif;font-size:60px;display: block;line-height: 1.4;}
.section04.swiper-slide-active .main_intro strong{letter-spacing: 20px;}
.section04 .btn_ef01:after{background:#b06159;}


.page_control{position: fixed;bottom: 20px;right: 30px;z-index: 9;}
.page_control span{color: #fff;outline: none;cursor: pointer;display: inline-block;vertical-align: middle;}
.page_control i {display: inline-block;width: 100px;height: 1px;background: #fff;vertical-align: middle;margin: 0 10px;}

@media screen and (max-width:768px) {
  .main_intro {left:2%;}
  .main_intro .txt02 strong {
      font-size:32px;
      display: inline-block;
  }
  .main_intro p {font-size:10px;}
  .section02.swiper-slide-active .main_intro strong,.section03.swiper-slide-active .main_intro strong,.section04.swiper-slide-active .main_intro strong
   {letter-spacing:10px;}
   .menu_bg .gnb {
     margin: 0;
     transform: translate(-50%,-50%);
   }
   .menu_bg .gnb li { display: block;}
   .swiper-pagination-fraction {width:auto; left:10px;}
}
